<ion-content class="background" [fullscreen]="true">

  <ion-row>
    <div class="logo">
      <img width="100%" class="logo" src="assets/logo.png">
    </div>
  </ion-row>

  <!-- <ion-row>
    <div class="ion-text-center" style="margin: 50px 30px 10px;">
      <h3 style="color: #fff;">  <strong>superjogos</strong> seus pagamentos são mais simples e seguros</h3>
    </div>
  </ion-row> -->

  <ion-grid style="margin:20px auto 20px;">

    <ion-row>
      <div class="botao">
        <a (click)="entrar()">
          <img width="40%" class="logo" src="assets/entrar.png">
        </a>
      </div>
    </ion-row>
    <ion-row>
      <div class="botao">
        <a (click)="cadastrar()">
          <img width="53%" class="logo" src="assets/cadastrar.png">
        </a>
      </div>
    </ion-row>

  </ion-grid>

</ion-content>
