<ion-content [fullscreen]="true" scroll-y="false">

  <div style="margin:30px auto;">
    <ion-row style="display: flex; justify-content: center;">
      <img width="60%" class="logo" src="assets/logohorizontal.png">
    </ion-row>
  </div>

  <ion-content>
    <div class="historico">
      <div style="margin: 10px 30px auto;">
        <ion-row class="ion-align-items-center">
          <ion-col size="8" class="ion-text-center">
            <h2 style="color: #1F384C; font-size: 20px; display: inline-block; margin-left: -40px;">Devocionais Favoritos</h2>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
          </ion-col>
        </ion-row>

      </div>



    </div>
  </ion-content>

</ion-content>
