ion-content {
  --background: white;
}

ion-toolbar {
  --background: #1F384C;
  --color: white;
}

.logo{
  padding-top: 20px;
  display: block;
  align-items: center;
  margin: auto;
}


.google{
  --background: #01B3A3;
  color: #fff;
  --border-radius: 8px;
}

.fullscreen {
  --ion-safe-area-top: 0;
  --ion-safe-area-bottom: 0;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
