ion-content {
  --background: url('/assets/background.png');
}
.content2 {
  --background: transparent;
}

ion-toolbar {
  --background: transparent;
  --color: white;
  --box-shadow: none;
}


.tag-amarela {
  background-color:transparent; /* Cor de fundo amarela */
  color: #e47f10; /* Cor do texto */
  padding: 5px 10px; /* Espaçamento interno */
  border-radius: 20px; /* Bordas arredondadas */
  font-size: small;
  margin-left: 10px; /* Margem à esquerda para separar da logo */
  min-width: 25%;
  border: 2px solid #e47f10;
  float: right; /* Posicionamento à direita */
  margin-right: 10px;
}

.historico{
  background-color: transparent;
  margin-top: 30px;
  height: 80%;
  width: 100%;
  position: fixed;
  bottom: 65px;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 30px 30px 0 0;
}

.logo2{
  // border: 2px solid #e47f10;
  border-radius: 18px;
}

ion-col{
  display: flex;
  justify-content: center;
}

.entrar{
  --background:  #e47f10;
  color: white;
  border-radius: 10px

}
.acessar{
  --background: transparent;
  color:  #e47f10;
  border: 2px solid  #e47f10;
  border-radius: 100px
}
.vertudo{
  --background: #E2F0FB;
  --box-shadow: none;
  color: #198AE5;
  border-radius: 8px
}

ion-list {
  --background: transparent;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
}

