<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="tag-amarela">Saldo? R$ 900,00</div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scroll-y="false">
  <ion-grid style="margin: 30px 30px auto;">
    <ion-row class="ion-align-items-center">
      <img style="margin: auto; margin-top: -100px;" width="70%" class="logo" src="assets/logo.png">
      <!-- Adicionando a pequena tag amarela -->
    </ion-row>
  </ion-grid>


  <ion-content>
    <div class="historico">
      <div style="display: flex; justify-content: center;">
        <ion-row class="ion-align-items-center" style="">
            <h2 style="color:  #fff; font-size: 29px; display: inline-block;"> </h2>
        </ion-row>
      </div>

      <ion-content class="content2">
          <ion-row style=" display: flex; justify-items: center;">
            <ion-col size="6"> <img width="95%" (click)="domino()" class="logo2" src="assets/truco.png"></ion-col>
            <ion-col size="6" >  <img width="95%"  (click)="domino()" class="logo2" src="assets/cacheta.png"></ion-col>
          </ion-row>
          <ion-row style=" display: flex; justify-items: center;">
            <ion-col size="6"> <img width="95%" (click)="domino()" class="logo2" src="assets/CACHETÃO.png"></ion-col>
            <ion-col size="6"> <img (click)="domino()"  width="95%" class="logo2" src="assets/domino.png"></ion-col>
          </ion-row>
          <ion-row style="display: flex; justify-items: center;">
            <ion-col size="6"> <img width="95%" (click)="domino()" class="logo2" src="assets/UNOO.png"></ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>
          <ion-row class="ion-text-center" style="margin: 10px 40px;">
            <ion-col size="6">
              <ion-button (click)="pix()" class="entrar" shape="round" style="width: 100%; height: 40px; margin-bottom: 7px; font-size: 13px; color: white; margin-left: -5px; padding-left: -10px;">
                <ion-icon style="color: white; display: inline !important;" name="add-outline" slot="start"></ion-icon>Depositar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button  (click)="chave()" class="acessar" shape="round" style="width: 100%; height: 40px; margin-bottom: 7px; font-size: 13px; color:  #e47f10; margin-right: -5px;">
                <ion-icon style="color:  #e47f10; display: inline !important;" name="arrow-forward-outline" slot="start"></ion-icon>Sacar
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-content>
    </div>


</ion-content>
